body{
    background-color:#F7F0F0;
    /* padding: 0;
    margin: 0; */
    align-items: center;
    justify-content: center;
    margin-left: 150px;
}
h1{
    text-align: center;
    margin-right: 180px;
    margin-top: 80px;
   color: #09637E;
}.element{
    height: 30px;
    align-items: center;
}
td{
    text-align: center;
}
.tableone{
    width: 70%;
    align-items: center;
    justify-content: center;
     border-collapse: collapse;
    margin-left: 80px;
    margin-top: 50px;
    border-left: 1px solid black ;
    border-right: 1px solid black ;
    border-bottom: 1px solid black ;
    border-top: none;

}
.tabletwo{
    width: 65%;
    margin-left: 110px;
    border-collapse: collapse;

}
.empty{
    height: 30px;
    border: none;
}
.green{
    background-color: #63b38d;
}
.yellow{
    background-color: #d4b44c;
}
.blue{
    background-color: #6f94df;
}
.gray{
    background-color: #cfd6df;
}